@font-face{
	font-family: 'gotham-book';
    src: url('../fonts/gotham-book.ttf') format('truetype') 
}
@font-face{
	font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium.ttf') format('truetype') 
}
@font-face{
	font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold.ttf') format('truetype') 
}
@font-face{
	font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
}
body{
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {

     content: ".";
     display: table;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#wrapper{
	width: 1200px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.content{
	width: 900px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
	
}
a, a:visited{
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
.nav{
	float: right;
	margin-top: 26px;
	margin-bottom: 40px;
}

.nav a li{
	display: inline-block;
	margin-left: 105px;
	font: 12px/50px 'gotham-medium', serif;
	color: #a7a7a7;
	text-transform: uppercase;
}
.topsky{
	background: url("../img/skybg.jpg") no-repeat;
	width: 1200px;
}
.toptitle{
	font: 40px/50px 'gotham-bold', serif;
	text-align: center;
	text-transform: uppercase;
	color: #303030;
}
.toptitle-block{
	padding-top: 150px;
}
h1.toptitle{
	margin: 0;
	padding: 0;
}
.topsky .topsection span{
	display: block;
	font: italic 16px/30px Georgia, serif;
	color: #5a5a5a;
	text-align: center;
	margin-top: 30px;
}
.circle{
	padding-top: 70px;
	padding-bottom: 50px;

}
.arrow{
	width: 90px;
	margin: 0 auto;
}
h2 {
	margin: 0;
	padding: 0;
}
.featured{
	margin-top: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.team{
	background: #f3f3f3;
	padding-top: 35px;
	padding-bottom: 80px
}
.ftitle{
	margin-bottom: 18px;
	text-align: center;
	font: 30px/25px 'gotham-bold', serif;
	text-align: center;
	text-transform: uppercase;
	padding: 18px;
	color: #303030;
}
.border{
	margin: 0 auto;
	width:240px;
	height: 3px;
	border-top: 3px solid #303030;
}
.works{
	margin-bottom: 40px;
}
p.slogan{
	padding-top: 32px;
	padding-bottom: 52px;
	width: 535px;
	margin: 0 auto;
	font: 16px/25px 'ProximaNovaRegular', sans-serif;
	color: #5a5a5a;
	text-align: center;
}
.works a:nth-child(1),
.works a:nth-child(2),
.works a:nth-child(4),
.works a:nth-child(5),
.works a:nth-child(7),
.works a:nth-child(8)
{
	margin-right: 50px;
	margin-left: 0;
	padding-left: 0;
	margin-top: 50px;
	display: inline-block;
}
.works a:nth-child(1),
.works a:nth-child(2),
.works a:nth-child(3){
	margin-top: 0;
}
.border-team{
	margin: 0 auto;
	width: 180px;
	height: 3px;
	border-top: 3px solid #303030;
}
.team span{
	display: block;
	font: 16px/25px 'ProximaNovaRegular', sans-serif;
	color: #5a5a5a;
	text-align: center;
	width: 538px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 58px;
}
.cutaway{
	margin: 0 auto;
	display: inline-block;
	background: #ffffff;
	width: 210px;
	height: 188px;
	padding-bottom: 50px;
	box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.2);
	margin-right: 16px;

}
.last{
	margin-right: 0;
}
.face1{
	background: url("../img/face1.png") no-repeat;
	width: 90px;
	height: 90px;
	margin: auto;
	margin-top: 20px;
}
.face2{
	background: url("../img/face2.png") no-repeat;
	width: 90px;
	height: 90px;
	margin: auto;
	margin-top: 20px;
}
.face3{
	background: url("../img/face3.png") no-repeat;
	width: 90px;
	height: 90px;
	margin: auto;
	margin-top: 20px;
}
.face4{
	background: url("../img/face4.png") no-repeat;
	width: 90px;
	height: 90px;
	margin: auto;
	margin-top: 20px;
}
h2.name{
	font: 16px 'gotham-bold', serif;
	color: #303030;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}
span.spec{
	width: auto;
	padding-top: 12px;
	margin: 0;

	font: italic 12px Georgia, serif;
	text-align: center;
	color: #303030;
	
}
.social{
	text-align: center;
}
.social a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/socialsprite.png") no-repeat;
	margin-right: 20px;
	margin-top: 20px;
}
.social a:last-child{
	margin-right: 0;
}
.social a.ic-tw{
	background-position: 0 0;
	width: 20px;
	height: 20px;
}
.social a.ic-in{
	background-position: -20px 0;
	width: 20px;
	height: 20px;
}
.social a.ic-dr{
	background-position: -40px 0;
	width: 20px;
	height: 20px;
}
.social a.ic-sk{
	background-position: -60px 0; 
	width: 20px;
	height: 20px;
}
.located{
	float: left;
	width: 320px;
	margin-right:40px;
}
.contactus{
	float:right;
	width: 540px;
	padding-bottom: 73px;
}
.contacttitle{
	padding-top: 20px;
	font: 16px/20px "ProximaNovaRegular", serif;
	color: #5a5a5a;
}
textarea{
	overflow: auto;
	width: 540px;
	height: 235px;
	resize: none;
	background: #f2f2f2;
	margin-top: 5px;
	padding-top: 30px;
	padding-left: 30px;
	font: italic 16px/20px Georgia, serif;
	color: #5f5f5f;
	border: 1px solid #d9d9d9;
}
.mail{
	overflow: auto;
	background: #f2f2f2;
	padding: 25px;
	border: none;
	width: 232px;
	height: 0;
	border: 1px solid #d9d9d9;
	font: italic 16px Georgia, serif;
	color: #5f5f5f;
}

.send{
 	resize: none;
 	overflow: hidden;
	float:right;
	width: 220px;
	background: url(../img/sendicon.png) no-repeat;
	background-position: center;
	background-color: #6995a9;
	padding: 16px;
	border: 2px solid #ffffff;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
#footer{
	background: #4f4f4f;
}
.copyadress{
	padding: 35px 0;
	font: 16px/25px 'ProximaNovaRegular', sans-serif;
	color: #6e6e6e;
}
.copyadress span{
	color: #949494;
}
.copyright{
	float: right;
}